* {
  margin: 0;
  padding: 0;
}

header nav {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  background: #024959;
}

.menu_bar {
  display: none;
}

header nav ul {
  overflow: hidden;
  list-style: none;
}

header nav ul li {
  float: left;
}

header nav ul li a {
  color: rgb(67, 97, 82);
  padding: 20px;
  display: block;
  text-decoration: none;
}

header nav ul li span {
  margin-right: 10px;
}

header nav ul li a:hover {
  background: #037e8c;
}

section {
  padding: 10px;
}

@media screen and (max-width: 800px) {
  header nav {
    width: 50%;
    height: 100%;
    left: -100%;
    margin: 0;
    position: fixed;
  }

  header nav ul li {
    display: block;
    float: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .menu_bar {
    display: block;
    width: 100%;
    background: rgb(97, 90, 90);
  }

  .menu_bar .bt-menu {
    display: block;
    padding: 20px;
    background: #024959;
    color: rgb(7, 104, 23);
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .menu_bar span {
    float: right;
    font-size: 50px;
  }
}

body {
  background: #e96443; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to center,
    #904e95,
    #e96443
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #904e95, #e96443);
}
.btn.btn-raised.btn-primary {
  background-color: #00838f !important;
  font-size: 16px;
  width: 100%;
  padding: 15px;
}
header {
  background-color: #26c6da;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}
header h1 {
  font-size: 22px;
  margin: 0;
}
.error {
  background-color: #fbe9e7;
  border: 1px solid #f4511e;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: #f4511e;
}
.correcto {
  background-color: rgb(211, 249, 187);
  border: 1px solid rgb(50, 167, 0);
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(4, 150, 50);
}
.error p {
  margin: 0;
}
#contenido {
  margin-top: 60px;
  background-color: white;
  -webkit-box-shadow: 0px 21px 46px -15px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 21px 46px -15px rgba(0, 0, 0, 1);
  box-shadow: 0px 21px 46px -15px rgba(0, 0, 0, 1);
}
.contenido-formulario {
  margin-top: 30px;
}
#cargando {
  text-align: center;
}
#cargando img {
  display: none;
  margin: 0 auto;
}
#resultado {
  margin-bottom: 40px;
}
#resultado div {
  border: 1px solid #26c6da;
  text-align: center;
  padding: 0 0 20px 0;
}
#resultado div p {
  margin-bottom: 0;
}
#resultado div p.header {
  background-color: #26c6da;
  margin-bottom: 10px;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
}
body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
